/* Header */
header {
    overflow: hidden;
    background-color: #2e3235;
    
}

.heading {
    color: #fcfdfe;
    font-family: "marvin", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    padding: 15px 10px 15px 30px;
    
}

/* Navigation Bar */
.nav_bar {
    display: flex;
    padding: 15px;
    gap: 10px;
}

.search_bar {
    width: 50%;
}


.search_bar_input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #6e767e;
    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fcfdfe;
    font-size: 20px;
    border-radius: 30px;

    background-image: url('../SEARCH.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 50px;
    background-size: 25px;
}


.drop_down_btn {
    background-color: #6e767e;
    color: #fcfdfe;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    text-align: left;
    min-width: 200px;

    background-image: url('../FILTER.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 50px;
    background-size: 25px;
}

.drop_down_content {
    display: none;
    position: absolute;
    background-color: #6e767e;
    min-width: 200px;
}


#shop_btn {
    background: none;
    background-color: #6e767e;
    border-radius: 50%;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    transition-duration: 0.4s;
    
}

#shop_btn:hover {
    background-color: #2e3235
}

#shop_btn img {
    width: 35px;
    height: 25px;
}

#history_btn {
    background: none;
    background-color: #6e767e;
    border-radius: 50%;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    
}

#history_btn img {
    width: 30px;
    height: 30px;
}


/* Piggy Bank Grid */
.piggy_bank_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 1em;
    padding: 30px;
}

.piggy_bank_instance {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 50px;

    height: 300px;
    width: 331.6px;

    display: flex;
    position: relative;
}

.delete_student_btn {
    background: none;
    border: none;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 20px;
    width: 20px;
    padding: 30px 0px 0px 20px;
    transition-duration: 0.4s;
}

.delete_student_btn img {
    height: 20px;
    width: 20px;
}

.delete_student_btn img:hover {
    height: 25px;
    width: 25px;
}

.piggy_bank_name {
    color: #2e3235;
    font-family: "marvin", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    padding: 2px 10px 15px 20px; 
    justify-content: center;
    align-items: center;

    max-width: 190px;
    height: 30px;
}

.piggy_bank_smiles {
    position: absolute;
    top: 130px;
    left: 170px;

    color: #fcfdfe;
    font-family: "marvin", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}


.add_smile_btn {
    background: none;
    background-color: #6e767e;

    border-radius: 50%;
    border: none;
    padding: 0;
    width: 44px;
    height: 44px;
    transition-duration: 0.4s;

    position: absolute;
    bottom: 0;
    right: 50px;
}

.add_smile_btn img {
    height: 20px;
    width: 20px;
}

.add_smile_btn:hover {
    background-color: #179200;
}

.remove_smile_btn {
    background: none;
    background-color: #6e767e;

    border-radius: 50%;
    border: none;
    padding: 0;
    width: 44px;
    height: 44px;
    transition-duration: 0.4s;

    position: absolute;
    bottom: 0;
    right: 0;
}

.remove_smile_btn img {
    height: 10px;
    width: 20px;
}

.remove_smile_btn:hover {
    background-color: #fe1112;
}

.new_student {
    position: relative;
}

#add_new_student_btn {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 50px;
    background-image: url('../white.png');
    background-color: transparent;

    border: none;
    height: 300px;
    width: 331.6px;

    display: flex;
    position: relative;
}

.new_student_text {
    position: absolute;
    bottom: 100px;
    left: 60px;

    color: #fcfdfe;
    font-family: "marvin", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    pointer-events: none;
}

#delete_student_modal_background {
    border: 2px solid black;

    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4); 
    display: none;
}

#delete_student_modal_header {
    background-color: #2e3235;
    color: #fcfdfe;
    font-family: "marvin", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    padding: 15px 10px 15px 30px;

    grid-row: 1;
    grid-column: 1/3;
}

#delete_student_modal_body_text {
    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    padding: 60px 0px 0px 0px;

    grid-column: 2;
    grid-row: 2;
}

#delete_student_img {
    grid-column: 1;
    padding: 20px 0px 0px 30px;
}

#confirm_leave_button_section {
    grid-row: 4;
    grid-column: 2;
    display: flex;
    justify-content: right;
}

#confirm_del_student_button {
    background: none;
    background-color: #6e767e;
    color: #fcfdfe;
    transition-duration: 0.4s;
    border-radius: 30px;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    padding: 5px;
    margin: 20px 20px 20px 5px;
}

#confirm_del_student_button:hover {
    background-color: #179200;
}

#leave_del_student_button:hover {
    background-color: #fe1112;
}

#leave_del_student_button {
    background: none;
    background-color: #6e767e;
    color: #fcfdfe;
    transition-duration: 0.4s;
    border-radius: 30px;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    padding: 5px;
    margin: 20px 20px 20px 5px;
}

#store_modal_background{
    border: 2px solid black;

    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4); 
    display: none;
}

#store_modal_header {
    background-color: #2e3235;
    color: #fcfdfe;
    font-family: "marvin", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    padding: 15px 10px 15px 30px;

    grid-row: 1;
    grid-column: 1/3;
}

#new_student_modal_background{
    border: 2px solid black;

    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4); 
    display: none;
}

.modal_content {
    background-color: #fefefe;
    width: 50%; 
    margin: 5% auto;
    max-height: 85vh;

    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
}

#new_student_modal_header {
    background-color: #2e3235;
    color: #fcfdfe;
    font-family: "marvin", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    padding: 15px 10px 15px 30px;

    grid-row: 1;
    grid-column: 1/3;
}

.adding_details_text {
    color: #2e3235;
    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    padding: 25px 10px 25px 30px;

    grid-row: 2;
    grid-column: 1/3;
}

#enter_name_section {
    grid-row: 3;
    grid-column: 1;
}

#enter_name_text {
    color: #6e767e;
    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    padding: 0px 10px 10px 30px;
}

#enter_name_search_input {
    background-color: #dde2e6;
    border: none;
    margin: 0px 10px 10px 30px;
    padding: 10px;
    width: 70%;
    border-radius: 5px;
}

#choose_bank_colour_section {
    grid-row: 3;
    grid-column: 2;
    width: 100%;
}

#choose_bank_colour_text {
    color: #6e767e;
    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    padding: 0px 10px 10px 0px;
}

#piggy_bank_colours {
  border: none; 
  display: flex; 
  justify-content: flex-start; 
  background-color: #dde2e6;
  width: 97%;
  gap: 5px;
}

#piggy_bank_colours input[type="radio"] {
    display: none;
}

#piggy_bank_colours label {
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5px;
}

#piggy_bank_colours input[type="radio"]:checked + label {
    border-color: #2e3235;
    box-shadow: 0 0 10px #2e3235;
}

#piggy_bank_colours img {
    display: block;
    width: 130px;
    height: 100px;
    object-fit: contain;
}

#add_leave_button_section {
    grid-row: 4;
    grid-column: 2;
    display: flex;
    justify-content: right;
}

#add_button {
    background: none;
    background-color: #6e767e;
    color: #fcfdfe;
    transition-duration: 0.4s;
    border-radius: 30px;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    padding: 5px;
    margin: 20px 20px 20px 5px;
}

#add_button:hover {
    background-color: #179200;
}

#leave_button:hover {
    background-color: #fe1112;
}

#leave_button {
    background: none;
    background-color: #6e767e;
    color: #fcfdfe;
    transition-duration: 0.4s;
    border-radius: 30px;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    padding: 5px;
    margin: 20px 20px 20px 5px;
}


#store_modal_items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 30px;
    grid-column: 1/3;

    overflow-y: auto;
    max-height: 65vh;
    justify-content: space-around;
}

.prize_instance {
    background-size: cover;
    background-repeat: no-repeat;

    height: 300px;
    width: 331.6px;

    display: flex;
    position: relative;
}

.prize_name {
    font-family: "marvin", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fcfdfe;
    font-size: 2.8rem;

    margin-top: auto;
    margin-right: auto;
    margin-left: 10px;
}

.prize_cost_container {
    background-color: #eceff2;
    
    height: 30px;
    display: flex;
    padding: 5px;
    margin: 5px;
    border-radius: 40%;

    margin-left: auto;
    margin-top: auto;
}

.prize_cost_container img {
    width: 30px;
    height: 30px;
}

.prize_cost_text {
    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
}

#store_modal_buttons {
    margin-left: auto;
    margin-top: auto;
    grid-column: 2;
}

#new_store_modal_btn {
    background: none;
    background-color: #6e767e;
    color: #fcfdfe;
    transition-duration: 0.4s;
    border-radius: 30px;
    border: none;
    
    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    padding: 5px;
    margin: 20px 20px 20px 5px;
    width: 180px;
   
}

#new_store_modal_btn:hover {
    background-color: #179200;
}

#leave_store_modal_btn:hover {
    background-color: #fe1112;
}

#leave_store_modal_btn {
    background: none;
    background-color: #6e767e;
    color: #fcfdfe;
    transition-duration: 0.4s;
    border-radius: 30px;
    border: none;

    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    padding: 5px;
    margin: 20px 20px 20px 0px;
    width: 180px;
}

/* Create Prize Modal */
 #create_prize_modal_background{
    border: 2px solid black;

    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4); 
    display: none;
}

#create_prize_form {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#create_prize_modal_header {
    background-color: #2e3235;
    color: #fcfdfe;
    font-family: "marvin", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    padding: 15px 10px 15px 30px;

    grid-row: 1;
    grid-column: 1/3;
}

#prize_name_section {
    color: #6e767e;
    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
    padding: 10px 10px 25px 30px;

    grid-row: 1;
    grid-column: 1;
}

#prizeNameInput {
    background-color: #dde2e6;
    border: none;
    margin: 0px 10px 10px 0px;
    padding: 10px;
    width: 70%;
    border-radius: 5px;
}

#prizeCostInput {
    background-color: #dde2e6;
    border: none;
    margin: 0px 10px 10px 0px;
    padding: 10px;
    width: 70%;
    border-radius: 5px;
}

#prize_cost_section {
    color: #6e767e;
    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
    padding: 10px 10px 25px 30px;

    grid-row: 1;
    grid-column: 2;
}

#prize_image_section {
    color: #6e767e;
    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
    padding: 10px 10px 25px 30px;

    grid-row: 1;
    grid-column: 3;
}

#prize_btn_section {
    padding-top: 20px;
    grid-row: 2;
    grid-column: 3;
}
#add_image_btn {
    background: none;
    background-color: #6e767e;
    color: #fcfdfe;
    transition-duration: 0.4s;
    border-radius: 30px;
    border: none;

    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    padding: 5px;
    margin: 20px 20px 20px 0px;
    width: 180px;
}

#leave_image_btn {
    background: none;
    background-color: #6e767e;
    color: #fcfdfe;
    transition-duration: 0.4s;
    border-radius: 30px;
    border: none;

    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    padding: 5px;
    margin: 20px 20px 20px 0px;
    width: 180px;

}

#add_image_btn:hover {
    background-color: #179200;
}

#leave_image_btn:hover {
    background-color: #fe1112;
}



#history_modal_background {
    border: 2px solid black;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4); 
    display: none;
}

#history_modal_header {
    background-color: #2e3235;
    color: #fcfdfe;
    font-family: "marvin", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    padding: 15px 10px 15px 30px;

    grid-row: 1;
    grid-column: 1/3;
}

#history_modal_nav_bar {
    grid-row: 2;
    grid-column: 1/3;
    display: flex;
    padding: 15px;
    gap: 10px;
}

.history_modal_body {
    grid-row: 3;
    grid-column: 1/3;
    padding: 10px;

    overflow-y: auto;
    max-height: 55vh;
}

#history_modal_body_table {
    color: #2e3235;
    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;

    border-collapse: collapse;
    border: 8px solid #adb7be;
    margin: 0 auto;
}

#history_modal_body_table th{
    background-color: #dde2e6;
    padding: 10px;
    text-align: left;

    border: 8px solid #adb7be;
}

#history_modal_body_table td {
    padding: 10px 80px 10px 10px;

    border-left: 8px solid #adb7be;
    border-right: 8px solid #adb7be;
}

#history_modal_body_table tr:nth-child(even) {
    background-color: #eceff2;
}

#history_modal_body_table tr:hover {
    background-color: #dbdee0;
}

#leave_history_btn {
    background: none;
    background-color: #6e767e;
    color: #fcfdfe;
    transition-duration: 0.4s;
    border-radius: 30px;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    justify-self: end;
    align-items: center;
    width: 20%;

    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    padding: 5px;
    margin: 20px 20px 20px 5px;

    grid-column: 2;
}

#leave_history_btn:hover {
    background-color: #fe1112;
}