<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://use.typekit.net/qjk3wss.css">
        <link rel="stylesheet" href="https://use.typekit.net/qjk3wss.css">
    </head>

<body>

    <header>
        <div class = "heading">Smiley Bank</div>
    </header>

    <main>

        <div class = "nav_bar"> 
            <form class="search_bar" action="/search" method="get">
                <input type="search" class="search_bar_input" placeholder = "Search...">
            </form>
            

            <div class = "drop_down">
                <button class = "drop_down_btn">-</button>
                <div class="drop_down_content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>

            <button class = shop_btn>
                <img src = "STORE.png" alt="Store Button">
            </button>

            <button class = history_btn>
                <img src = "HISTORY.png" alt="History Button">
            </button>
        </div>

    </main>
</body>
</html> 