<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://use.typekit.net/qjk3wss.css">
        <link rel="stylesheet" href="https://use.typekit.net/qjk3wss.css">
    </head>

<body>

    <header>
        <div class = "heading">Smiley Bank</div>
    </header>

    <main>

        <!-- Navigation Bar-->
        <div class = "nav_bar"> 
            <form class="search_bar" action="/search" method="get">
                <input type="search" class="search_bar_input" placeholder = "Search...">
            </form>
            

            <div class = "drop_down">
                <button class = "drop_down_btn">-</button>
                <div class="drop_down_content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>

            <button class = shop_btn>
                <img src = "../static/STORE.png" alt="Store Button">
            </button>

            <button class = history_btn>
                <img src = "../static/HISTORY.png" alt="History Button">
            </button>
        </div>

        <!-- Piggy Bank Grid -->
        <div class = "piggy_bank_grid">
            {% for student in students %}
                <div class = piggy_bank_instance style = "background-image: url('../static/{{student.bank_colour}}.png');">
                    <button class = delete_student_btn>
                        <img src="../static/X_pig.png" alt="Delete Student Button">
                    </button>
                    <div class = piggy_bank_name>{{student.name}}</div>
                    <div class = piggy_bank_smiles id="smiles_{{student.student_id}}">{{student.smiles}}</div>
                    <button class = add_smile_btn onclick = "addPoint({{student.student_id}})">
                        <img src="../static/PLUS_pig.png" alt="Add Smile Button">
                    </button>
                    <button class = remove_smile_btn onclick = "removePoint({{student.student_id}})">
                        <img src="../static/MINUS_pig.png" alt="Remove Smile Button">
                    </button>
                </div>
            {% endfor %}
            
            <div class = new_student>
                <button id= add_new_student_btn></button>
                <div class = new_student_text>+ Add New</div>
            </div>

        </div>

        <!-- Modals -->
        <div id = new_student_modal_background>
            <div class = modal_content>
                <div id = new_student_modal_header>New Student</div>
                <div id = adding_details_text>ADDING DETAILS</div>
                <div id = enter_name_section>
                    <div id = enter_name_text>First Name</div>
                    <div id = enter_name_input>
                        <input type="text" id = enter_name_search_input>
                    </div>
                </div>

                <div id = choose_bank_colour_section>
                    <div id = choose_bank_colour_text>Bank Colour</div>
                    <div id = piggy_bank_colours>
                        <input type="radio" id="red" name="bank_options" value="red">
                        <label for="red"><img src="../static/red.png"></label>

                        <input type="radio" id="orange" name="bank_options" value="orange">
                        <label for="orange"><img src="../static/orange.png"></label>

                        <input type="radio" id="yellow" name="bank_options" value="yellow">
                        <label for="yellow"><img src="../static/yellow.png"></label>

                        <input type="radio" id="green" name="bank_options" value="green">
                        <label for="green"><img src="../static/green.png"></label>

                        <input type="radio" id="blue" name="bank_options" value="blue">
                        <label for="blue"><img src="../static/blue.png"></label>

                        <input type="radio" id="purple" name="bank_options" value="purple">
                        <label for="purple"><img src="../static/purple.png"></label>
                    </div>
                </div>

                <div id = add_leave_button_section>
                    <button id = add_button>ADD</button>
                    <button id = leave_button>LEAVE</button>
                
                </div>
            </div>
        </div>
    </main>

    <!-- Javascript Link -->
    <script src="../static/js/script.js"></script>
</body>
</html> 