<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://use.typekit.net/qjk3wss.css">
        <link rel="stylesheet" href="https://use.typekit.net/qjk3wss.css">
    </head>

<body>

    <header>
        <div class = "heading">Smiley Bank</div>
    </header>

    <main>

        <div class = "nav_bar"> 
            <form class="search_bar" action="/search" method="get">
                <input type="search" class="search_bar_input" placeholder = "Search...">
            </form>
            

            <div class = "drop_down">
                <button class = "drop_down_btn">-</button>
                <div class="drop_down_content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>

            <button class = shop_btn>
                <img src = "../static/STORE.png" alt="Store Button">
            </button>

            <button class = history_btn>
                <img src = "../static/HISTORY.png" alt="History Button">
            </button>
        </div>


        <div class = "piggy_bank_grid">
            <div class = piggy_bank_instance>
                <button class = delete_student_btn>
                    <img src="../static/X_pig.png" alt="Delete Student Button">
                </button>

                <div class = piggy_bank_name>Student_name</div>

                <button class = add_smile_btn>
                    <img src="../static/PLUS_pig.png" alt="Add Smile Button">
                </button>
                <button class = remove_smile_btn>
                    <img src="../static/MINUS_pig.png" alt="Remove Smile Button">
                </button>
            </div>
            
            
            <div class = piggy_bank_instance>
                <button class = delete_student_btn>
                    <img src="../static/X_pig.png" alt="Delete Student Button">
                </button>

                <div class = piggy_bank_name>Student_name</div>

                <button class = add_smile_btn>
                    <img src="../static/PLUS_pig.png" alt="Add Smile Button">
                </button>
                <button class = remove_smile_btn>
                    <img src="../static/MINUS_pig.png" alt="Remove Smile Button">
                </button>
            </div>
            <div class = piggy_bank_instance>
                <button class = delete_student_btn>
                    <img src="../static/X_pig.png" alt="Delete Student Button">
                </button>

                <div class = piggy_bank_name>Student_name</div>

                <button class = add_smile_btn>
                    <img src="../static/PLUS_pig.png" alt="Add Smile Button">
                </button>
                <button class = remove_smile_btn>
                    <img src="../static/MINUS_pig.png" alt="Remove Smile Button">
                </button>
            </div>
            <div class = piggy_bank_instance>
                <button class = delete_student_btn>
                    <img src="../static/X_pig.png" alt="Delete Student Button">
                </button>

                <div class = piggy_bank_name>Student_name</div>

                <button class = add_smile_btn>
                    <img src="../static/PLUS_pig.png" alt="Add Smile Button">
                </button>
                <button class = remove_smile_btn>
                    <img src="../static/MINUS_pig.png" alt="Remove Smile Button">
                </button>
            </div>
            <div class = piggy_bank_instance>
                <button class = delete_student_btn>
                    <img src="../static/X_pig.png" alt="Delete Student Button">
                </button>

                <div class = piggy_bank_name>Student_name</div>

                <button class = add_smile_btn>
                    <img src="../static/PLUS_pig.png" alt="Add Smile Button">
                </button>
                <button class = remove_smile_btn>
                    <img src="../static/MINUS_pig.png" alt="Remove Smile Button">
                </button>
            </div>
            <div class = piggy_bank_instance>
                <button class = delete_student_btn>
                    <img src="../static/X_pig.png" alt="Delete Student Button">
                </button>

                <div class = piggy_bank_name>Student_name</div>

                <button class = add_smile_btn>
                    <img src="../static/PLUS_pig.png" alt="Add Smile Button">
                </button>
                <button class = remove_smile_btn>
                    <img src="../static/MINUS_pig.png" alt="Remove Smile Button">
                </button>
            </div>
            <div class = piggy_bank_instance>
                <button class = delete_student_btn>
                    <img src="../static/X_pig.png" alt="Delete Student Button">
                </button>

                <div class = piggy_bank_name>Student_name</div>

                <button class = add_smile_btn>
                    <img src="../static/PLUS_pig.png" alt="Add Smile Button">
                </button>
                <button class = remove_smile_btn>
                    <img src="../static/MINUS_pig.png" alt="Remove Smile Button">
                </button>
            </div>

        </div>

    </main>
</body>
</html> 